#formBuilder{
    display: flex;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
#formBuilder #formBuilder-form{
    width: calc(70% - 18px);
    border: 1px solid #e1e1e1; 
    background: #fff;
    padding-bottom: 150px;
}
#formBuilder #optionColumn{
    width: 30%;
    margin-left: 18px;
}

#formBuilder #preview-form{
    width: 100%;
    margin-top: 50px;
}

#formBuilder .field{
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 14px 10px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #e1e1e1;
    cursor: pointer;
}

#formBuilder .field:last-child{
    margin-bottom: 0;
}

#formBuilder #formBuilder-form .actuallyMoving{
    height: 0;
    padding: 0;
    overflow: hidden;
}
#formBuilder .placeholder-down{
    padding-bottom: 20px;
}
#formBuilder .placeholder-up{
    padding-top: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
}

#formBuilder #formBuilder-form > div.actualmoving {
    background: #fff;
    opacity: 0.8;
}

#formBuilder #formBuilder-form > div.actualmoving > div{
    transform:translateX(-9999px);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: #ccc; /* Old browsers */
}

#formBuilder .elementOFDrag > div {
    display: flex;
    flex-direction: column;
}

#formBuilder .elementOFDrag input{
    background: #fff;
}
#formBuilder .elementOFDrag textarea{
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 4px;
    background-color: #ffffff;
    background-size: cover;
    font-size: 12px;
    text-decoration: none solid rgba(38, 50, 56, 0.3);
}
#formBuilder .mainLabel span:not(.ui-select-current-value){
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;
    margin-bottom: 4px;
}

#formBuilder label{
    display: flex;
    flex-direction:column;
}

#formBuilder label.radiobox{
    display: flex;
    flex-direction:row;
}

#formBuilder .ui-select,
#formBuilder .ui-select:hover,
#formBuilder input:hover
{
    background: #fff !important;
}

#formBuilder .mainLabel input[type=checkbox]{
    width: auto;
    height: 15px;
    vertical-align: bottom;
    margin-left: 0;
}
#formBuilder .mainLabel select{
    height: 36px;
    line-height: 36px;
    width: calc(60% + 16px);
}
#formBuilder .fieldsTop > div,
#formBuilder .fieldsBottom > div{
    margin: 10px;
}
#formBuilder .show{
    display: block;
}
#formBuilder .hidden{
    display: none;
}
#formBuilder .headerBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 15px 13px 30px;
    border-bottom: 1px solid #e1e1e1;
}
#formBuilder .headerBar > div{
    display: flex;
    align-items: center;
}
#formBuilder div.no-elements {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: calc(30% + 18px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #e1e1e1;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
    font-weight: bold;
}
#formBuilder div.no-elements > i {
    font-size: 60px;
    margin-bottom: 15px;
}

#formBuilder .mainField{
    background: #fafafa;
    padding: 0 20px;
}
#formBuilder .headerBar .requied{
    color: red;
}
#formBuilder .headerBar button{
    float: right;
    line-height: 9px;
    text-transform: unset;
    font-weight: 500;
}

#formBuilder .headerBar button > i{
    margin-right: 5px;
    font-size: 18px;
}

#formBuilder .headerBar button,
#formBuilder .optionFields>button{
    background: transparent;
    display: flex;
    align-items: center;
    padding: 0 13px;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
    min-width: unset;
    min-height: unset;
}

#formBuilder .optionFields>button{   
    float: left !important;
    margin: 0 0 10px 0;
    padding: 0;

}

#formBuilder .button-show-more{
    margin-top: 20px;
    position: relative;
    padding: 0 10px 20px 10px;
    display: flex;
    justify-content: flex-end;
}
#formBuilder .button-show-more button{
    background: transparent;
    padding: 0;
    border: none;
    text-transform: uppercase;
    min-width: unset;
    min-height: unset;
}
#formBuilder .typeField{
    vertical-align: bottom;
    font-size: 14px;
    margin-left: 5px;
}
#formBuilder .optionFields{
    width: 60%;
    display: inline-block;
}
#formBuilder .optionFields ul{
    padding-left: 0;
    display: flex;
    flex-direction: column;
    margin: 10px 0 5px;
}
#formBuilder .optionFields ul input:first-child{
    margin-left: 0;
}
#formBuilder .optionFields ul li{
    margin-bottom: 7px;
    display: flex;
    align-items: center;
}

#formBuilder .optionFields ul li > span.index{
    margin-right: 5px;
    margin-bottom: 0;
}

#formBuilder .optionFields ul input{
    width: 35%;
    margin-right: 10px;
}
#formBuilder .optionFields ul button{
    background: #fff;
    display: inline-block;
    padding: 0;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
    min-width: unset;
    min-height: unset;
}

#formBuilder .optionFields ul button > i {
    font-size: 22px;
    margin-left: -5px;
}
#formBuilder .hideExtraOptions{
    padding-bottom: 20px;
    margin-top: -10px;
}
#formBuilder .fieldToDrag i{
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
    line-height: 15px;
}
pre, form{
    text-align: left;
    border: 1px solid #000000;
    margin: 0 auto;
    padding: 20px;
}
#formshower h3{
    height: 30px;
}
#formshower {
    display: flex;
    width: 80%;
    margin: 0 auto;
}
#formshower > div{
    width: 50%;
}
#formBuilder button:hover{
    opacity: .8;
}

